header {
    background-color: #ee508a;
    padding-top: 15px;
}

h1   {
    color: white;
    text-align: center;
    font-size: 82px;
}

h2   {
    color: black;
    text-align: center;
    font-size: 46px;
}

h3   {
    font-size: 29px;
}

h4  {
    font-size: 23px;
}


/* -- NAVBAR -- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ee508a;
  border: 1px solid white;
}

.active {
  background-color: #ea2e73;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 23px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ea2e73;
}


/* -- FOOTER -- */
footer {
  text-align: center;
  padding: 3px;
  background-color: #ee508a;
  color: white;
}

/* Social buttons */
.fa {
  padding: 10px;
  width: 18px;
  height: 18px
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: white;
  color: #ee508a;
}

.fa:hover {
  opacity: 0.7;
}


/* -- 'BLOG' CARDS -- */
.card {
  background-color: #f8b9d0;
  padding: 20px 100px;
  margin: 20px 164px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* -- CHATBOT -- */

#chatbot {
    height: 230px;
    width: 100%;
    padding: 46px 0px;
    background: transparent;
    font-size: 14px;
}

#chatbot .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: transparent;
}

#chatbot .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
  background: #ee508a;
}

#chatbot .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}

#chatbot .content .contact-profile p {
  float: left;
}

#chatbot .content .messages {
  height: 100%;
  width: 100%;
  max-height: calc(100% - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
}

#chatbot .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#chatbot .content .messages::-webkit-scrollbar-thumb {
  background-color: #fbf3f6;
  visibility: hidden;
}

#chatbot .content .messages:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

#chatbot .content .messages .userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
#chatbot .content .messages .userText span {
    background-color: #ee508a;
    padding: 10px;
    border-radius: 2px;
}
#chatbot .content .messages .botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}
#chatbot .content .messages .botText span {
    background-color: #ffadcc;
    padding: 10px;
    border-radius: 2px;
}

#textInput {
    border: none;
    border-bottom: 3px solid aqua;
}