<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>

    <style>
    header {
        background-color: #ee508a;
        padding: 15px;
    }
    h1   {
        color: white;
        text-align: center;
    }
    h2   {
        color: black;
        text-align: center;
    }
    </style>

</head>

 <body>
    <header>
      <div class="container">
        <h1 class="logo">Pink Smile</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('stats') }}">Stats</a></li>
            <li><a href="{{ url_for('stories') }}">Story</a></li>
              <li><a href="{{ url_for('media') }}">Media</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>