<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pink Smile</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

    <div style="text-align: center; font-size: 20px; padding: 30px" class="container">
        <p>Breast cancer is the most common cancer in women worldwide, </p>
        <h3 style="color: #ee508a;">you are not alone!</h3>
        <p>Keeping a <b style="color: #ee508a">positive</b> attitude has been proven to improve recovery expectations.</p>
        <p>The mission of Pink Smile is to support breast cancer patients by sharing multimedia content, <br/>
            survivor testimonials, breast cancer organizations and answering all your questions with PinkBot.</p>
    </div>

    {% endblock %}
  </body>
</html>