<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pink Smile</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

    <div class="container">
        <h2 style="text-align: center; padding-top: 23px;">Uplifting Movies</h2>
        <div class="card">
            <h3>{{movies.movie1.title}}</h3>
            <p><b>Director:</b> {{movies.movie1.director}}</p>
            <p><b>With:</b> {{movies.movie1.cast1}} and {{movies.movie1.cast2}}</p>
            <p>{{movies.movie1.plot}}</p>
            <img src="{{movies.movie1.cover}}" alt="Image 1" style="width:223px;height:333px;">
        </div>

        <div class="card">
          <h3>{{movies.movie2.title}}</h3>
          <p>{{movies.movie2.plot}}</p>
            <img src="{{movies.movie2.cover}}" alt="Image 2" style="width:223px;height:333px;">
        </div>


    </div>

    {% endblock %}
  </body>
</html>