<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pink Smile</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

    <div class="container">
        <h2>Uplifting Movies</h2>

        <div class="card">
            <h3>{{movies.movie2.title}}</h3>
            <p><b>Director:</b> {{movies.movie2.director}}</p>
            <p><b>With:</b> {{movies.movie2.cast1}} and {{movies.movie2.cast2}}</p>
            <p>{{movies.movie2.myplot}}</p>
            <img src="{{movies.movie2.cover}}" alt="Image 2" class="center"
                 style="width: 223px; height: 333px; display: block; margin-left: auto; margin-right: auto;">
        </div>

        <div class="card">
            <h3>{{movies.movie3.title}}</h3>
            <p><b>Directors:</b> {{movies.movie3.director1}}, {{movies.movie3.director2}}, {{movies.movie3.director3}}, {{movies.movie3.director4}} and {{movies.movie3.director5}}</p>
            <p><b>With:</b> {{movies.movie3.cast1}}, {{movies.movie3.cast2}}, {{movies.movie3.cast3}}, {{movies.movie3.cast4}} and {{movies.movie3.cast5}}</p>
            <p>{{movies.movie3.myplot}}</p>
            <img src="{{movies.movie3.cover}}" alt="Image 3" class="center"
                 style="width: 223px; height: 333px; display: block; margin-left: auto; margin-right: auto;">
        </div>

        <div class="card">
            <h3>{{movies.movie4.title}}</h3>
            <p><b>Director:</b> {{movies.movie4.director}}</p>
            <p><b>With:</b> {{movies.movie4.cast1}}, {{movies.movie4.cast2}}, {{movies.movie4.cast3}}, {{movies.movie4.cast4}}, {{movies.movie4.cast5}}, {{movies.movie4.cast6}} and {{movies.movie4.cast7}}</p>
            <p>{{movies.movie4.myplot}}</p>
            <img src="{{movies.movie4.cover}}" class="center" alt="Image 4"
                 style="width: 223px; height: 333px; display: block; margin-left: auto; margin-right: auto;">
        </div>

        <div class="card">
            <h3>{{movies.movie5.title}}</h3>
            <p><b>Director:</b> {{movies.movie5.director}}</p>
            <p><b>With:</b> {{movies.movie5.cast1}} and {{movies.movie5.cast2}}</p>
            <p>{{movies.movie5.myplot}}</p>
            <img src="{{movies.movie5.cover}}" class="center" alt="Image 5"
                 style="width: 223px; height: 333px; display: block; margin-left: auto; margin-right: auto;">
        </div>

        <div class="card">
            <h3>{{movies.movie1.title}}</h3>
            <p><b>Director:</b> {{movies.movie1.director}}</p>
            <p><b>With:</b> {{movies.movie1.cast1}}, {{movies.movie1.cast2}} and {{movies.movie1.cast3}}</p>
            <p>{{movies.movie1.myplot}}</p>
            <img src="{{movies.movie1.cover}}" class="center" alt="Image 1"
                 style="width: 223px; height: 333px; display: block; margin-left: auto; margin-right: auto;">
        </div>

    </div>

    {% endblock %}
  </body>
</html>