<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pink Smile</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

    <div class="container">
        <h2 style="text-align: center; padding-top: 23px;">Uplifting Movies</h2>
        <div class="card">
          <h4>The Long Goodbye</h4>
          <p>Description...</p>
        </div>

        <div class="card">
          <h4>Mondays at Racine</h4>
          <p>Description...</p>
        </div>

        <div class="card">
          <h4>Miss You Already</h4>
          <p>Description...</p>
        </div>

    </div>

    {% endblock %}
  </body>
</html>