<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pink Smile</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

    <h2>Non-Profit Cancer Breast Organizations</h2>

    <div class="container">
      <div class="card">
        <h4>Breast Cancer Research Foundation</h4>
        <p>Story...</p>
      </div>

      <div class="card">
        <h4>Susan G. Komen Foundation</h4>
        <p>Story...</p>
      </div>

      <div class="card">
        <h4>Living Beyond Breast Cancer</h4>
        <p>Story...</p>
      </div>
    </div>

    {% endblock %}
  </body>
</html>