<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pink Smile</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

    <h2>Breast Cancer Organizations</h2>

    <div class="row">
      <div class="card">
        <h4>Breast Cancer Research Foundation</h4>
        <p>Mission: Prevent and cure breast cancer by advancing the world's most promising research.</p>
        <p style="padding-bottom: 16px"><a href="https://www.bcrf.org/">Learn more about BCRF</a></p>

        <h4>Susan G. Komen Foundation</h4>
        <p>Mission: Save lives by meeting the most critical needs in our communities and investing in breakthrough research to prevent and cure breast cancer.</p>
        <p style="padding-bottom: 16px"><a href="https://ww5.komen.org/">Learn more about Komen</a></p>

        <h4>Living Beyond Breast Cancer</h4>
        <p>Mission: Living Beyond Breast Cancer is a national nonprofit that connects people with trusted information and a community of support.</p>
        <p style="padding-bottom: 16px"><a href="https://www.lbbc.org/">Learn more about LBBC</a></p>

        <h4>National Breast Cancer Foundation</h4>
        <p>Mission: Provide help and inspire hope to those affected by breast cancer through early detection, education, and support services.</p>
        <p style="padding-bottom: 16px"><a href="https://www.nationalbreastcancer.org/">Learn more about the National Breast Cancer Foundation</a></p>

        <h4>METAVIVOR</h4>
        <p>Mission: METAVIVOR is dedicated to the specific fight of women and men living with stage 4 metastatic breast cancer.</p>
        <p style="padding-bottom: 16px"><a href="http://www.metavivor.org/">Learn more about METAVIVOR</a></p>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <h3 style="text-align: center;">African American Community</h3>

        <h4>African American Breast Cancer Alliance</h4>
        <p>Mission: Educate and support African Americans in their journeys with breast cancer and survivorship.</p>
        <p style="padding-bottom: 16px"><a href="https://aabcainc.org/">Learn more about AABCA</a></p>

        <h4>Sisters Network</h4>
        <p>Mission: Increase local and national attention to the devastating impact that breast cancer has in the African American community.</p>
        <p style="padding-bottom: 16px"><a href="http://www.sistersnetworkinc.org/">Learn more about Sisters Network</a></p>

      </div>
    </div>

    <div class="row">
      <div class="card">
        <h3 style="text-align: center;">Latin American Community</h3>

        <h4>Unión Latinoamericana contra el Cáncer de la Mujer</h4>
        <p>Conjunto de organizaciones que luchan contra el cáncer de la mujer</p>
        <p style="padding-bottom: 16px"><a href="https://www.ulaccam.org/organizaciones">Accede a la lista completa</a></p>

        <h4>Latinas contra Cáncer</h4>
        <p>Misión: Crear un sistema de atención médica inclusivo que brinde servicios a la población latina desatendida en torno a problemas de cáncer.</p>
        <p style="padding-bottom: 16px"><a href="https://latinascontracancer.org/">Más acerca de Latinas contra Cáncer</a></p>
      </div>
    </div>

    {% endblock %}
  </body>
</html>