<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pink Smile</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

    <h2>Non-Profit Cancer Breast Organizations</h2>

    <div class="row">
        <div class="card">
          <h2>TITLE HEADING</h2>
          <h5>Title description, Oct 16, 2020</h5>
          <img src="/static/image1.png" alt="Image 1" style="width:1400px;height:425px;">
          <p>Story...</p>
        </div>
        <div class="card">
          <h2>TITLE HEADING</h2>
          <h5>Title description, Oct 16, 2020</h5>
          <img src="/static/image2.png" alt="Image 2" style="width:1400px;height:425px;">
          <p>Story...</p>
        </div>
    </div>

    {% endblock %}
  </body>
</html>