<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pink Smile</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

    <div class="container">
      <h1 style="color: #ee508a;">Share your story</h1>
      <h1 style="color: #ee508a;">You are not alone</h1>
      <p style="text-align: center; font-size: 20px">
        <a href="mailto: mariagrandury@gmail.com">Contact us</a>
        if you are interested in having your story shared.</p>
    </div>

    <div class="container">
      <p style="text-align: right;">*Available soon</p>
    </div>

    {% endblock %}
  </body>
</html>